{% extends 'mwt/emails/email_base.html' %}
{% load url from future %}
{% load mwt_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <table id="main_table" cellpadding="4" cellspacing="4" border="0" align="center" width="70%" style="margin-top: 20px; margin-bottom: 20px; border: 1px solid #999999;">
        <tr style="font-size: 12px">
            <td style="font-size: 13px; padding: 10px; margin: 0; text-align: center; width: 100%; color: #FFFFFF; background: #000000" colspan="2">
                <b style="font-size: 13px">{{ title }}</b>
            </td>
        </tr>
        <tr style="font-size: 12px; background: #faffeb; border-bottom: 1px solid #999999">
            <td style="font-size: 12px; width: 100%; padding: 15px;" colspan="2">
                <b>Summary:</b>
                {% if fail_only %}
                <span class="fail">{{ runs|length }}</span> plugin{% if runs|length > 1 %}s{% endif %} failed.
                {% else %}
                Ran <span class="info">{{ runs|length }}</span> plugins.
                <span class="info">{{ successful }}</span> without errors.
                <span class="info">{{ result_successful }}</span> with success.
                <span class="fail">{{ runs|length|subtract:successful }}</span> with errors.
                <span class="fail">{{ runs|length|subtract:result_successful }}</span> without success.
                {% endif %}
            </td>
        </tr>
        {% for run in runs %}
            {% if forloop.first %}
                <tr style="font-size: 1px; border-bottom: 1px solid #999999;"><td colspan="2">&nbsp;</td></tr>
            {% endif %}
            <tr style="font-size: 12px; background: #CCCCCC;">
                <td style="font-size: 12px; width: 100px;">Task</td>
                <td style="font-size: 12px;">{{ run.task }}</td>
            </tr>
            <tr style="font-size: 12px; background: #F6F6F6">
                <td style="font-size: 12px; width: 100px;">State</td>
                <td style="font-size: 12px;"><span class="{{ run.state }}">{{ run.state_hr }}</span></td>
            </tr>
            <tr style="font-size: 12px; background: #DEDEDE">
                <td style="font-size: 12px; width: 100px;">Success</td>
                <td style="font-size: 12px;">{% if run.result.success %}<span class="success">Yes</span>{% else %}<span class="fail">No</span>{% endif %}</td>
            </tr>
            <tr style="font-size: 12px; background: #F6F6F6">
                <td style="font-size: 12px; width: 100px;">Started</td>
                <td style="font-size: 12px;">{{ run.date_started }}</td>
            </tr>
            <tr style="font-size: 12px; background: #DEDEDE">
                <td style="font-size: 12px; width: 100px;">Ended</td>
                <td style="font-size: 12px;">{{ run.date_finished }}</td>
            </tr>
            <tr style="font-size: 12px; background: #F6F6F6">
                <td style="font-size: 12px; width: 100px;">Duration</td>
                <td style="font-size: 12px;">{{ run.duration }}</td>
            </tr>
            <tr style="font-size: 12px; background: #ffecbc; border-bottom: 1px solid #ffd9a2">
                <td style="font-size: 12px; width: 100%" colspan="2">Message:</td>
            </tr>
            <tr style="font-size: 12px; background: #ffecbc;">
                <td style="font-size: 12px; width: 100%; padding: 0 20px 0 20px;" colspan="2">
                    <div style="font-family: 'Courier New', monospace; width: 100%; word-break: break-all; word-wrap: break-word">{{ run.result.message|linebreaks }}</div>
                </td>
            </tr>
            <tr style="font-size: 12px; background: #DEDEDE">
                <td style="font-size: 12px; width: 100px;">More Details:</td>
                <td style="font-size: 12px;"><a href="{{ mwt.url }}{% url 'admin:mwt_testrun_change' run.id %}">{{ mwt.url }}{% url 'admin:mwt_testrun_change' run.id %}</a></td>
            </tr>
            {% if not forloop.last %}
            <tr style="font-size: 1px; border-top: 1px solid #999999; border-bottom: 1px solid #999999;"><td colspan="2">&nbsp;</td></tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}