{% extends 'mwt/main/bootstrap.html' %}
{% load i18n %}
{% load url from future %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            <form class="well form-horizontal" method="get" id="main_form">
                {% csrf_token %}
                <input type="hidden" name="website" value="{{ website.pk }}">
                <fieldset>
					<legend>{% block title %}{% trans "Add Test for " %}<a>{{ website }}</a>{% endblock %}</legend>
                    <div class="control-group">
                        <label class="control-label" for="description">{% trans "Description" %}</label>
                        <div class="controls">
                            <input type="text" class="input-xxlarge" id="description" name="description">
                            <!--<p class="help-block">Supporting help text</p>-->
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{% trans "Plugins" %}</label>
                        <div class="controls">
                            <div class="breadcrumb" data-toggle="buttons-checkbox" id="plugins">
                                {% for plugin in plugins %}
                                    <a class="plugin-button plugin btn btn-primary" data-id="{{ plugin.pk }}"><i class="icon-white"></i> {{ plugin.name }}</a>
                                {% endfor %}
                            </div>
                            <p class="help-block">{% trans "Select any of those Plugins" %}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{% trans "Notifications" %}</label>
                        <div class="controls">
                            <div class="breadcrumb" data-toggle="buttons-checkbox" id="notifications">
                                {% for notification in notifications %}
                                    <a class="plugin-button notification btn btn-primary" data-id="{{ notification.pk }}"><i class="icon-white"></i> {{ notification.name }}</a>
                                {% endfor %}
                            </div>
                            <p class="help-block">{% trans "Select any of those Plugins" %}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{% trans "Schedules" %}</label>
                        <div class="controls">
                            <a class="btn btn-primary" id="add-schedule-button"><i class="icon-plus-sign icon-white"></i> {% trans "Add Schedule" %}</a>
                            {% include "mwt/main/snippets/add_schedule.html" %}
                        </div>
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-primary submit" type="submit"><i class="icon-ok-sign icon-white"></i> {% trans "Add Test" %}</button>
                        <button class="btn cancel">{% trans "Cancel" %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span3 options">
            <form class="well form-vertical" id="options_form">
                <legend>{% trans "Options" %}</legend>
                {% for plugin in plugins %}
                    {% if plugin.has_params %}
                        {% include "mwt/main/snippets/plugin_option.html" with plugintype="plugin" %}
                    {% endif %}
                {% endfor %}

                {% for plugin in notifications %}
                    {% if plugin.has_params %}
                        {% include "mwt/main/snippets/plugin_option.html" with plugintype="notification" %}
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}