{% extends 'mwt/main/bootstrap.html' %}
{% load i18n %}
{% load url from future %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">
            <form class="well form-horizontal" method="post" action="{% url 'mwt_add_test' website.pk %}">
                {% csrf_token %}
                <input type="hidden" name="website" value="{{ website.pk }}">
                <fieldset>
                    <legend>{% trans "Add Test for " %}<a>{{ website }}</a></legend>
                    <div class="control-group">
                        <label class="control-label" for="description">{% trans "Description" %}</label>
                        <div class="controls">
                            <input type="text" class="input-xxlarge" id="description" name="description">
                            <!--<p class="help-block">Supporting help text</p>-->
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{% trans "Plugins" %}</label>
                        <div class="controls">
                            <div class="breadcrumb" data-toggle="buttons-checkbox" id="plugins">
                                {% for plugin in plugins %}
                                    <a class="plugin-button plugin btn btn-primary" data-id="{{ plugin.pk }}"><i class="icon-white"></i> {{ plugin.name }}</a>
                                {% endfor %}
                            </div>
                            <p class="help-block">{% trans "Select any of those Plugins" %}</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">{% trans "Notifications" %}</label>
                        <div class="controls">
                            <div class="breadcrumb" data-toggle="buttons-checkbox" id="notifications">
                                {% for notification in notifications %}
                                    <a class="plugin-button notification btn btn-primary" data-id="{{ notification.pk }}"><i class="icon-white"></i> {{ notification.name }}</a>
                                {% endfor %}
                            </div>
                            <p class="help-block">{% trans "Select any of those Plugins" %}</p>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button class="btn btn-primary submit" type="submit"><i class="icon-ok-sign icon-white"></i> {% trans "Add Test" %}</button>
                        <button class="btn cancel">{% trans "Cancel" %}</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span3 options">
            <form class="well form-vertical">
                <legend>{% trans "Options" %}</legend>
                {% for plugin in plugins %}
                    {% if plugin.params %}
                        <div class="accordion plugin-options-accordion">
                            <div class="accordion-group plugin-options plugin" id="plugin-options-{{ plugin.pk }}">
                                <div class="accordion-heading">
                                    <a href="#plugin-options-body-{{ plugin.pk }}" data-parent="#plugin-options-accordion" data-toggle="collapse" class="accordion-toggle">
                                        {{ plugin.name }}
                                    </a>
                                </div>
                                <div class="accordion-body" id="plugin-options-body-{{ plugin.pk }}">
                                    <div class="accordion-inner">
                                        {% for param in plugin.params_list %}
                                            <label class="control-label" for="plugin-param-{{ plugin.pk }}-{{ forloop.counter }}">{{ param }}</label>
                                            <div class="controls"><input type="text" class="input input-medium" name="plugin-param-{{ plugin.pk }}-{{ forloop.counter }}" id="plugin-param-{{ plugin.pk }}-{{ forloop.counter }}" /></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}


                {% for notification in notifications %}
                    {% if notification.params %}
                        <div class="accordion notification-options-accordion">
                            <div class="accordion-group plugin-options notification" id="notification-options-{{ notification.pk }}">
                                <div class="accordion-heading">
                                    <a href="#notification-options-body-{{ notification.pk }}" data-parent="#notification-options-accordion" data-toggle="collapse" class="accordion-toggle">
                                        {{ notification.name }}
                                    </a>
                                </div>
                                <div class="accordion-body" id="notification-options-body-{{ notification.pk }}">
                                    <div class="accordion-inner">
                                        {% for param in notification.params_list %}
                                            <label class="control-label" for="notification-param-{{ notification.pk }}-{{ forloop.counter }}">{{ param }}</label>
                                            <div class="controls"><input type="text" class="input input-medium" name="notification-param-{{ notification.pk }}-{{ forloop.counter }}" id="notification-param-{{ notification.pk }}-{{ forloop.counter }}" /></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </form>
        </div>
    </div>
</div>
{% endblock %}