body {
    padding-top: 60px;
}

td span.label {
    line-height: 24px;
    margin-right: 3px;
}

.popover .popover-title {
    font-size: small;
}

.popover p span {
    line-height: 24px;
}

.popover .popover-inner {
    width: auto;
    max-width: 280px;
}

.popover .popover-content p {
    margin: 0;
    padding: 0;
}

.add_test
{
    padding-top: 10px!important;
}

.add_test .plugin-button
{
    margin-top: 3px;
    margin-bottom: 3px;
}

.add_test .plugin-button i
{
    background-position: -120px -144px;
}

.add_test .plugin-button.active i
{
    background-position: -96px -144px;
}

.add_test .options table
{
    margin-bottom: 8px;
}

.add_test .options table thead tr td
{
    font-weight: bold;
}

.add_test .options .plugin-options
{
    display: none;
}

.add_test .options .plugin-options.active
{
    display: block;
}

.plugin-options-accordion
{
    background-color: #FCF8E3;
}

.notification-options-accordion
{
    background-color: #D9EDF7;
}

.btn-boolean .off,
.btn-boolean.active .on
{
    display: inline;
}


.btn-boolean .on,
.btn-boolean.active .off
{
    display: none;
}

.btn-boolean.active
{
    background-color: #468847;
}

.add_test .schedule
{
    margin-top: 10px;
    padding-bottom: 0;
}

.add_test .schedule.active
{
    display: block;
    background: #D9EDF7;
    border: 1px solid #BCE8F1;
    box-shadow: none;
}