body {
    padding-top: 60px;
}

td span.label {
    line-height: 24px;
    margin-right: 3px;
}

.popover .popover-title {
    font-size: small;
}

.popover p span {
    line-height: 24px;
}

.popover .popover-inner {
    width: auto;
    max-width: 280px;
}

.popover .popover-content p {
    margin: 0;
    padding: 0;
}
